@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,600&family=Noto+Sans+KR:wght@400;500;700&display=swap');
.footer {
    padding: 50px;
    font-size: 14px;
    .container {
        width: 100%;
    }
    .footer__content {
        @include flex(center,
        space-between);
        flex-wrap: wrap;
        border-top: 1px solid #f4f4f4;
        border-bottom: 1px solid #f4f4f4;
        padding: 50px 0;
        @include tablet {
            flex-wrap: wrap;
        }
        @include mobile {
            flex-direction: column;
            flex-wrap: wrap;
        }
        .footer__left {
            h3 {
                padding: 15px 0;
            }
            &__content {
                p {
                    padding: 5px 0;
                    font-family: 'Noto Sans KR', sans-serif;
                }
            }
        }
        .footer__right {
            &__item {
                &__title {
                    h5 {
                        padding: 15px 0px;
                    }
                }
                &__content {
                    p {
                        padding: 5px 0;
                        font-family: 'Noto Sans KR', sans-serif;
                    }
                }
            }
        }
    }
    .copyright {
        padding: 20px 0px;
        @include flex(center,
        space-between);
        &__text {
            p {
                font-family: 'Noto Sans KR', sans-serif;
                color: #a9a9a9;
            }
        }
        &__logo {
            @include flex(center,
            flex-end);
            img {
                margin-left: 20px;
            }
        }
    }
}