.header {
    background-color: $main-header-bg;
    width: 100%;
    height: $header-height;
    position: relative;
    display: block;
    z-index: 999;
    @include tablet {
        @include flex(center, center);
        flex-direction: column;
    }
    .container {
        @include flex(center, space-between);
        flex-wrap: wrap;
        position: relative;
        @include tablet {
            flex-direction: column;
        }
        @include mobile {
            flex-direction: column;
            flex-wrap: wrap;
        }
        .icon-menu {
            color: $txt-white;
            font-size: 30px;
            display: none;
            position: absolute;
            top: 0px;
            left: 10px;
            cursor: pointer;
            @include tablet {
                display: block;
            }
            @include mobile {
                display: block;
            }
        }
    }
    &__logo {
        height: 26px;
        img {
            height: 100%;
            color: $txt-white;
            @include tablet {
                width: 100%;
                // display: none;
            }
        }
    }
    &__menu {
        @include flex(center, flex-end);
        flex-wrap: wrap;
        @include tablet {
            flex-direction: column;
            background-color: $txt-white;
            width: 100%;
            position: absolute;
            top: 50px;
            transform: translateX(-100%);
            transition: transform 0.5s ease;
        }
        @include mobile {
            width: 100%;
            flex-direction: column;
            background-color: $txt-white;
            transform: translateX(-100%);
            transition: transform 0.5s ease;
        }
        &__item {
            color: $txt-white;
            margin-left: 25px;
            padding: 30px;
            font-size: 1rem;
            text-transform: uppercase;
            @include tablet {
                color: #ea4913;
                padding: 20px;
                font-weight: 500;
            }
            @include mobile {
                font-weight: 500;
                color: #ea4913;
                padding: 20px;
            }
        }
        &__item:nth-child(3)::after {
            content: "";
            position: relative;
            right: -50px;
            border-right: 1px solid $txt-white;
        }
    }
    &__menu.active {
        transform: translateX(0%);
        transition: transform 0.5s ease;
    }
}